* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  border: 10px solid red;
  height: 100vh;
  width: 100vw;
}

.top-nav {
  background-color: antiquewhite;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  height: 80px;
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.links>li {
  margin-right: 20px;
  cursor: pointer;
}

.snoop-img {
  width: 50px;
  height: 40px;
  margin-bottom: -15px;
  margin-right: 8px;
}

.welcome-msg {
  text-align: center;
}

.teaser-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20vw;
  padding-right: 20vw;

}


.teaser-div-child {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 20px 40px -15px #0008;
  background-size: cover;
  position: relative;
  overflow: hidden;

}

.background-img {
  overflow: hidden;

}