:root {
    --bright: white;
    --mid: rgb(71, 71, 71);
    --dark: black;
    --accent-1: red;
    --accent-2: rgb(37, 203, 186);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-family: Helvetica, Arial, sans-serif;
}