<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <style>
        @import url("./theme.css");
    </style>
    <title>SNOOP</title>
</head>

<body>
    <!-- Nav Bar -->
    <nav class="top-nav">
        <div class="inner-nav">
            <div class="brand">
                <a href="./home.html">
                    <img src="./assets/snoop.png" alt="" id="logo">
                </a>
            </div>
            <ul id="links">
                <div id="profile-img-mask">
                    <img id="profile-img" src="./assets/teasers/img-01.jpg" alt="">
                </div>
            </ul>
        </div>
    </nav>
    <!-- gets all relevant data of a certain restaurant -->
    <script>
        window.onload = () => {
            console.log(window.location.href);
            console.log(window.location.search);
        }
    </script>
</body>

</html>